<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/link.css">
        {% block headblock %}{% endblock %}
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-dark bg-dark" style="margin-bottom:50px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-8">
                            <a class="navbar-brand">
                                <h1>Миссия Колонизация Марса</h1>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            {% if current_user.is_authenticated %}
                                <h4>Зравствуйте {{ current_user.name }}</h4>
                            {% else %}
                            <li class="nav-item active">
                                <div class="row">
                                <a class="nav-link" href="/register">Зарегистрироваться <span class="sr-only">(current)</span></a>
                                    <a class="nav-link" href="/login">Войти <span class="sr-only">(current)</span></a>
                                </div>>
                            </li>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <!-- Begin page content -->
        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>
    </body>
</html>
