{% extends "base.html" %}
{% block content %}
    <div style="font-family: corbel;">
        <h2>Авторизация</h2>
    </div>
    <form action="" method="post">
        {{ register_form.hidden_tag() }}
        {{ password_form.hidden_tag() }}
        <p>
            <h1 class="home-title">
                <span>{{register_form.email.label}}</span>
            </h1>
            <br>
            {{ register_form.email(class="form-control", type="email", style="border: none; border-bottom: 1px solid gray;outline: none; box-shadow: none; width: 1200px;") }}
            <br>
            {% for error in register_form.email.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
        </p>
        <p>
            <h1 class="home-title">
                <span>{{password_form.password.label}}</span>
            </h1>
            <br>
            {{ password_form.password(class="form-control", type="password", style="border: none; border-bottom: 1px solid gray;outline: none; box-shadow: none;") }}
            <br>
            {% for error in password_form.password.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
        </p>
        <p>
            <div class="frame">
                <button class="custom-btn btn-6">
                    <span>Войти</span>
                </button>
            </div>
        </p>
        <div>{{ message }}</div>
    </form>
{% endblock %}
