{% extends "base.html" %}
{% block content %}
    <h1>Главная</h1>
    {% if current_user.is_authenticated %}
        <div class="row">
            <a class="btn btn-primary" href="/logout">Выйти</a>
        </div>
    {% else %}
        <p>
            <a class="btn btn-primary" href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
    {% endif %}
    <h1>Записи в блоге</h1>
    {% if current_user.is_authenticated %}
        <div class="row">
            <a class="btn btn-secondary" href="/add_job">Добавить работу</a>
        </div>
    {% endif %}
    {% for job in jobs %}
        <div>
            <h2>Action # {{ job.id }}</h2>
            <table border="1" bordercolor="grey" width="800px">
                <tr>
                    <th>Title of activity</th>
                    <th>Team leader</th>
                    <th>Duration</th>
                    <th>List of collaborators</th>
                    <th>Is finished</th>
                </tr>
                <!--ряд с ячейками заголовков-->
                <tr>
                    <td>{{ job.job }}</td>
                    <td>{{ job.get_team_leader().name }} {{ job.get_team_leader().surname }}</td>
                    <td>{{ job.work_size }} hours</td>
                    <td>{{ job.get_users_names()}}</td>
                    <td>{{ job.is_finished }}</td>
                </tr>
                <!--ряд с ячейками тела таблицы-->
            </table>
            {% if current_user.is_authenticated %}
                {% if job.team_leader|string == current_user.get_id() %}
                    <a class="btn btn-warning" href="/change_job/{{ job.id }}">Редактировать</a>
                    <a class="btn btn-danger" href="/job_delete/{{ job.id }}">Удалить</a>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
