{% extends "base.html" %}
{% block content %}
    <title>{{ article.heading }}</title>
    <body>
        <main role="main" class="container">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.heading.label }}
                    <br>
                    {{ form.heading(class="form-control", type="text") }}
                    <br>
                    {% for error in form.heading.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
                </p>
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
            <a class="btn btn-primary"
               href="/article/{{ article.id }}/edit/add/block/place/0"
               role="button">Добавить блок</a>
            {% for block in blocks %}
                {% with block=block %}
                    {% include 'Blocks/' + block.__class__.__name__+ '.html'  %}
                {% endwith %}
                <a class="btn btn-primary"
                   href="/article/{{ article.id }}/edit/add/block/place/{{ loop.index }}"
                   role="button">Добавить блок</a>
                <a class="btn btn-primary" href="#" role="button">Редактировать</a>
            {% endfor %}
        </main>
    </body>
{% endblock %}
