{% extends "base.html" %}
{% block content %}
    <title>{{ article.heading }}</title>
    <body>
        <main role="main" class="container">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.heading.label }}
                    <br>
                    {{ form.heading(class="form-control", type="text") }}
                    <br>
                    {% for error in form.heading.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
                </p>
                <button class="custom-btn btn-3"><span>Сохранить</span></button>
            </form>
            <a href="/article/{{ article.id }}/edit/add/block/place/0" style="margin-top:20px;"><button class="custom-btn btn-9">Добавить блок</button></a>
            {% for block in blocks %}
                {% with block=block %}
                    {% include 'Blocks/' + block.__class__.__name__+ '.html'  %}
                {% endwith %}
            {% endfor %}
        </main>
    </body>
{% endblock %}
