{% extends "Profile/base.html" %}
{% block headblock %}
    <style>
    .card-a * {
  /* Ссылка как карточка (.card + .d-block) */
  text-decoration: none;
}
    </style>
{% endblock %}
{% block content %}
    <div class="row row-cols-1 row-cols-md-2 g-4"
         style="width:500px;
                margin-top: 200px;
                margin-left:500px;">
            {% for article in articles %}
                <a href={{ url_for("app_articles.article", article_id=article.id) }} style="text-decoration: none;" class="card">
                    <div class="col">
                        <div class="card">
                            <img src={{ url_for('static', filename=article.get_image().get_path() )}} class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">{{ article.heading }}</h5>
                                <p class="card-text">
                                    {% set main_idea_block = article.get_MainIdeaBlock() %}
                                    {% if main_idea_block == None %}
                                        Подробнее в статье.
                                    {% else %}
                                        {{ main_idea_block.idea }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            {% else %}
                <h1>Вы пока ничего не написали</h1>
            {% endfor %}
    </div>
{% endblock %}
