<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block Bootstap %}
            <link rel="stylesheet" href={{ url_for('static', filename='bootstrap/5.0.1/css/bootstrap.min.css') }}/>
        {% endblock %}
        <title>Title</title>
        {% block headblock %}{% endblock %}
        <link rel="stylesheet" href={{ url_for('static', filename='css/background.css') }}/>
        <link rel="stylesheet" href={{ url_for('static', filename='css/just.css') }}/>
        <link rel="stylesheet" href={{ url_for('static', filename='css/abc.css') }}/>
    </head>
    <div class="area"
         style="position: absolute;
                top: 0;
                left: 0;
                position:fixed;">
        <ul class="circles">
            <li style="position: absolute;"></li>
            <li style="position: absolute;"></li>
            <li style="position: absolute;"></li>
            <li style="position: absolute;"></li>
            <li style="position: absolute;"></li>
            <li style="position: absolute;"></li>
            <li style="position: absolute;"></li>
            <li style="position: absolute;"></li>
            <li style="position: absolute;"></li>
            <li style="position: absolute;"></li>
        </ul>
    </div>
    <body>
        <div class="container-fluid" style="position: absolute;">
            <div class="row">
                <!-- end header -->
                <main class="col-md-9">
                    {% block content %}{% endblock %}
                </main>
                <!-- end main -->
            </div>
        </div>
    </body>
</html>
<div style="display:flex;">
<a href={{ url_for("app_profile.comments")}}>
<button class="button button--dione" style="font-family:corbel; margin-top:400px; margin-left:20px; width: 15%; height:7%; text-align: center;"><span>Мои комментарии</span></button>
</a>
<a href="/home/" tabindex="-1" aria-disabled="true">
    <button class="button button--anthe"
            style="margin-top:500px;
                   position:absolute;
                   margin-left:20px;
                   width: 15%;
height:7%;
text-align: center">
        <span>Вернутся</span>
    </button>
</a><a href={{ url_for("app_profile.articles")}}>
    <button class="button button--mimas"
            style="margin-top:300px;
                   margin-left:20px;
                text-align: center;
                    width:285px;
                     text-family:corbel;">
        <span>Мои статьи</span>
    </button>
</div>
<a aria-current="page" href={{ url_for("app_profile.main") }}>
    <button class="button button--greip"
            style="position:absolute;
                   margin-top:220px;
                   margin-left:20px;
                   width: 15%;
                    height:7%;
                    text-align: center;">
        <span><span>Профиль</span></span>
    </button>
</a>
