{% extends "Profile/base.html" %}
{% block content %}
    <div style="margin-top:280px;
                margin-left:500px;
                font-size:25pt;
                font-family:corbel;">
        <p>
            {{ user.name }}
        </p>
        <br>
        <p>
            {{ user.email }}
        </p>
        <br>
        <a href={{ url_for("app_profile.edit") }}><button class="button button--calypso" style="font-family:corbel; width:40%;"><span>Редактировать профиль</span></button></a>
        <a href={{ url_for("app_profile.replace_password") }} >
        <button class="button button--bestia" style="margin-left:20px;">
						<div class="button__bg"></div><span>Сменить пароль</span>
					</button></a>
    </div>
{% endblock %}
