{% extends "base.html" %}
{% block content %}
    <body>
        <!-- Это абзац слева -->
        <!-- Надо сделать в кнопку для перехода на начальный экран -->
        <div class="frame"
             style="padding-left:1000px;
                    position:absolute;
                    font-family:corbel;">
            <a href="/article/create/">
                <button class="custom-btn btn-6" style="width: 250px;">
                    <span>Write new</span>
                </button>
            </a>
            <a href="/profile">
                <button class="custom-btn btn-8" style="margin-top:20px;">profile</button>
            </a>
        </div>
        <div id="content">
            <!-- Это где мы вводим текст и кнопка искать -->
            <form style='padding: 4px;
                         padding-top: 18px;
                         position: fixed;
                         display:inline-block;'
                  method='POST'>
                <div style="display:flex;">
                    <input type="text"
                           class="input-search"
                           id="input-search"
                           name="query"
                           style="margin-top:6px;"/>
                    <label class="search" for="input-search"></label>
                    <input type="hidden" name="param1" value="val" />
                    <div class="frame" style=" display:inline-block;">
                        <button class="custom-btn btn-6" style="margin-left:30px;">
                            <span>search</span>
                        </button>
                    </div>
                </div>
            </form>
            <div style="padding-top:100px;">
                <h3>Заголовок первого уровня</h3>
                {% if articles|length == 0 %}
                    <div class='result'>
                        <div class='headline'>
                            <a href='/article/{{ id }}'>Ничего не найденно</a>
                        </div>
                        <div class='annotation'>Пустота</div>
                    </div>
                {% else %}
                    {% for article in articles %}
                        <!-- Это перечесление всех найденных документов -->
                        <div class='result'>
                            <div class='headline'>
                                <a href='/article/{{ id }}'>{{ article.heading }}</a>
                            </div>
                            {% set mainIdea_block = article.get_MainIdeaBlock() %}
                            {% if mainIdea_block == None %}
                                <div class='annotation'>{{ article.heading | replace('\n', ' / '|safe) }}</div>
                            {% else %}
                                <div class='annotation'>{{ mainIdea_block | replace('\n', ' / '|safe) }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </body>
{% endblock %}
