{% extends "base.html" %}
{% block content %}
    <body>
        <!-- Это абзац слева -->
        <!-- Надо сделать в кнопку для перехода на начальный экран -->
        <div class="frame"
             style="padding-left:1000px;
                    position:absolute;
                    font-family:corbel;
                    padding-top:58px;">
            <a href="/article/create/">
                <button class="custom-btn btn-6" style="width: 250px;">
                    <span>Write new</span>
                </button>
            </a>
            <a href="/profile">
                <button class="custom-btn btn-8" style="margin-top:16px;">profile</button>
            </a>
        </div>
        <div id="content">
            <!-- Это где мы вводим текст и кнопка искать -->
            <form style='padding: 4px;
                         padding-top: 18px;
                         display:inline-block;
                         position:absolute;'
                  method='POST'>
                {{ search_form.hidden_tag() }}
                {{ sort_form.hidden_tag() }}
                <div>
                    {{ search_form.query(type="text", class="input-search", style="margin-top:6px;") }}
                    <label class="search" for="input-search"></label>
                    <input type="hidden" name="param1" value="val" />
                    <div class="frame" style=" display:inline-block;">
                        {{ search_form.search(class="custom-btn btn-6", style="margin-left:490px;") }}
                    </div>
                </div>
                <p>
                    {{ sort_form.populated(type="submit", class="custom-btn btn-6", style="width:250px; margin-left:700px;") }}
                </p>
                <p>
                    {{ sort_form.time(type="submit", class="custom-btn btn-6", style="width:250px; margin-left:700px;") }}
                </p>
            </form>
            <div style="padding-top:100px;">
                 <hr style='border: none; border-bottom: 1px solid lightgrey;'>
                {% if articles|length == 0 %}
                    <div class='result'>
                        <div class='headline'>
                            <a href='/article/{{ id }}'>Ничего не найденно</a>
                        </div>
                        <div class='annotation'>Пустота</div>
                    </div>
                {% else %}
                    {% for article in articles %}
                        <!-- Это перечесление всех найденных документов -->
                        {% set heading = article.heading %}
                        {% if heading|length > 64 %}
                            {% set heading = article.heading[:64] + "... ." %}
                        {% endif %}
                        <div class='result'>
                            <div class='headline'>
                                <a href={{ url_for("app_articles.article", article_id = article.id )}}>{{ heading }}</a>
                            </div>
                            {% set mainIdea_block = article.get_MainIdeaBlock() %}
                            {% if mainIdea_block == None %}
                                <div class='annotation'>{{ heading | replace('\n', ' / '|safe) }}</div>
                            {% else %}
                                {% if mainIdea_block.idea|length > 128 %}
                                    <div class='annotation'>{{ mainIdea_block.idea[:128] | replace('\n', ' / '|safe) }}... .</div>
                                {% else %}
                                    <div class='annotation'>{{ mainIdea_block.idea | replace('\n', ' / '|safe) }}</div>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </body>
{% endblock %}
