<!doctype html>
<html lang="ru">
    <head>
        <title>{{ search_engine_name }}</title>  <!-- Это абзац слева -->
        <meta charset="utf-8">
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href={{ url_for('static', filename='bootstrap/5.0.1/css/bootstrap.min.css') }}/>
        <link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }}/>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <a href="#">
            <div id='title'>{{ search_engine_name }}</div>
        </a>
        <div style="padding-left:1650px; position: absolute;">
            <a href="#" class="button8">write new</a>
            <a href="#" class="button8">profile</a>
        </div>
        <div id="content">
            <!-- Это где мы вводим текст и кнопка искать -->
            <form style='padding: 4px;
                         padding-top: 18px;
                         position: fixed;'
                  method='POST'>
                <input type="text" class="input-search" id="input-search"/>
                <label class="search" for="input-search"></label>
                <a href="#" class="button8" style="margin-left:10px;">search</a>
            </form>
            <div style="padding-top:100px;">
                <hr style='border: none; border-bottom: 1px solid lightgrey;'>
                <!-- Сколько документов найденно + время -->
                {% if query != '' %}
                    <div style='font-size:16px; text-align: right; padding-right: 10px;'>
                        Found {{ results|length }} documents in {{ time }} seconds.
                    </div>
                {% endif %}
                {% for title, annotation, score, id in results %}
                    <!-- Это перечесление всех найденных документов -->
                    <div class='result'>
                        <div class='score'>{{ score }}</div>
                        <div class='headline'>
                            <a href='article/{{ id }}/'>{{ title }}</a>
                        </div>
                        <div class='annotation'>{{ annotation | replace('\n', ' / '|safe) }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
