body {
  font-family: corbel;
  }
  #content {
      padding-left: 20px;
      width: 640px;
      display: inline-block;
  }
  a {
      color: black;
      text-decoration: none;
  }
  a:hover {
      text-decoration: underline;
  }
  body {
      font-size: 24px;
      font: Helvetica, sans-serif;
  }
  #title {
      background-image: linear-gradient(to right, blue, red, orange, blue, green, red);
      -webkit-background-clip: text;
      color: black;
      float: left;
      font-size: 48px;
      margin-bottom: 40px;
  }
  .result {
      padding: 20px;
      padding-bottom: 0px;
  }
  .annotation {
      font-size: 18px;
  }
  .score {
      font-size: 14px;
      float: right;
  }
  input[type=submit]:hover {
      cursor: pointer;
  }
  input:focus {
      outline: none;
  }
body {
font-family: corbel;
margin: 0px;
}

.search {
border-color:black;
position: relative;
background:black;
}

.input-search {
border-color:black;
border: 2px solid #fff;
height: 30px;
width: 30px;
padding: 0 0px;
font-size: 1.1em;
font-weight: lighter;
color: black;
border-radius: 24px;
-webkit-transition: all 0.4s;
transition: all 0.4s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}

.input-search:focus {
border-color:black;
width: 800px;
padding: 0 12px;
outline:none;
}

.input-search+.search:after {
border-color:black;
color
content: '';
border-top: 3px solid #fff;
width: 15px;
display: block;
position: absolute;
right: -6px;
bottom: -8px;
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
transform: rotate(45deg);
-webkit-transition: all 0.2s;
transition: all 0.2s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.input-search+.search:before {
border-color:black;
color
content: '';
border-top: 3px solid #fff;
width: 0px;
position: absolute;
right: -2px;
bottom: 19px;
-ms-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
transform: rotate(-45deg);
-webkit-transition: all 0.2s;
transition: all 0.2s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
-webkit-transition-delay: 0s; /* Safari */
transition-delay: 0s;
}


.input-search:focus+.search:before {
right: 10px;
bottom: 9px;
width: 15px;
-webkit-transition: all 0.1s;
transition: all 0.1s;
-webkit-transition-timing-function: ease-in;
transition-timing-function: ease-in;
-webkit-transition-delay: 0.2s; /* Safari */
transition-delay: 0.2s;
}
a.button8 {
color: black;
font-weight: 500;
text-decoration: none;
user-select: none;
padding: .2em 1em;
outline: none;
border: 2px solid;
border-radius: 1px;
transition: 0.2s;

}
a.button8:hover { background: rgba(255,255,255,.2); }
a.button8:active { background: black; }