#content {
            padding-left: 20px;
            width: 640px;
            display: inline-block;
        }
        a {
            color: #1a0dab;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        body {
            font-size: 24px;
            padding: 12px;
            font: Helvetica, sans-serif;
        }
        #title {
            background-image: linear-gradient(to right, blue, red, orange, blue, green, red);
            -webkit-background-clip: text;
            color: transparent;
            display: inline-block;
            float: left;
            font-size: 48px;
            margin-bottom: 40px;
        }
        .result {
            padding: 20px;
            padding-bottom: 0px;
        }
        .headline {

        }
        .annotation {
            font-size: 18px;
        }
        .score {
            font-size: 14px;
            float: right;
        }
        input[type=submit]:hover {
            cursor: pointer;
        }
        input:focus {
            outline: none;
        }
        div input{
             display:inline-block;
        }