{% extends "base.html" %}
{% block headblock %}
    {{ super() }}
    <link rel="stylesheet" href={{ url_for('static', filename='bootstrap/5.0.1/css/bootstrap.min.css') }}/>
    <link rel="stylesheet" href={{ url_for('static', filename='css/button.css') }}/>
    <title>{{ article.heading }}</title>
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="list-group">
        {% for Block in Blocks %}
            <a href="/article/{{ article.id }}/edit/add/block/place/{{ number }}/block/{{ loop.index - 1 }}"
               class="list-group-item list-group-item-action">{{ Block.label_block()}}</a>
        {% endfor %}
    </div>
{% endblock %}
