{% extends "base.html" %}
{% block headblock %}
    {{ super() }}
    <title>{{ article.heading }}</title>
{% endblock %}
{% block content %}
    {{ super() }}
    <div class="list-group" style="width: 1200px; height:150em;">
        {% for Block in Blocks %}
            <a href="/article/{{ article.id }}/edit/add/block/place/{{ number }}/block/{{ loop.index - 1 }}"
               class="list-group-item list-group-item-action">{{ Block.label_block()}}</a>
        {% endfor %}
    </div>
{% endblock %}
