{% extends "base.html" %}
{% block headblock %}{{ super() }}{% endblock %}
{% block content %}
    {{ super() }}
    <h1 class="home-title" style="font-size:30pt;">
        <span>Удалить блок?</span>
    </h1>
    {% with block=block %}
        {% include 'Blocks/' + block.__class__.__name__+ '.html'  %}
    {% endwith %}
    <form class="form-group" method="post">
        <button class="custom-btn btn-5">
            <span>Удалить</span>
        </button>
    </form>
    <a href="/">
        <button class="custom-btn btn-1">Назад</button>
    </a>
{% endblock %}
