{% extends "Comments/base.html" %}
{% block headblock %}{{ super() }}{% endblock %}
{% block content %}
    {{ super() }}
    <div class="p-3 mb-2 bg-transparent text-dark">Создание комметария</div>
    <form method='post'>
        {{ form.hidden_tag() }}
        <p>
            <h1 class="home-title" style="font-size:30pt; width:1200px;">
                <span>{{ form.text.label }}</span>
            </h1>
            <br>
            {{ form.text(class="form-control", type="text", style="border: none; border-bottom: 1px solid gray;outline: none; box-shadow: none;") }}
            <br>
            {% for error in form.text.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
        </p>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
{% endblock %}
